*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.contenedor{
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
    border-top-width: 30px;
    border-top-color: rgb(110, 201, 110);
    border-top-style: solid;
    border-bottom-style: solid ;
    border-bottom-color: lightgrey;
    justify-content: space-around;
}

.logo-nombre{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.logo{
    height: 80%;
}

.logo-img{
    width: 200px;
    height: 150px;
}

.nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 30px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.nombre h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: black;
    background-color: transparent;
    text-transform: none;
    height: 40%;
    display: flex;
    align-items: center;
}

.nombre h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.568);
    background-color: transparent;
    font-size: 100%;
}

.contacto{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: end;
    justify-content: center;
    justify-self: flex-end;
    margin-right: 5%;
}

.contacto h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.425);
}

.contacto h1{
    font-family: monospace;
    font-size: 2.5rem;
    color: rgb(110, 201, 110);
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid ;
    border-bottom-color: lightgrey;}

.items a{
    font-size: 1.5rem;
    text-decoration: solid;
    text-transform: uppercase;
    margin-left: 30px;
    font-family: monospace;
}

.items > ul{
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.cuerpo{
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imagen-izquierda{
    background-color: transparent;
    display: flex;
    margin-left: 30px;
    margin-top: 3rem;
}

.imagen-izquierda > img{
    width: 400px;
    background-color: transparent;
}

.textos-cuerpo{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-cuerpo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: transparent;
}

.texto-cuerpo1 > h1{
    background-color: transparent;
    font-family: monospace;
    font-size: 4rem;
    color: lightcyan;
    text-decoration-line: none;
}

.texto-cuerpo2{
    background-color: transparent;
}

.typed1{
    background-color: transparent;
}

.texto-cuerpo2 .texto1{
    font-weight: bold;
    color: black;
    font-style: normal;
    background-color: transparent;
    font-size: 2rem;
    font-family: monospace;
    color: white;
}

.imagen-derecha{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 3rem;
    margin-right: 2rem;
    background-image: url(img/img-derecha.PNG);
    background-size: cover;
    width: 250px;
    height: 550px;
    border-radius: 20px;
}

.imagen-derecha > img{
    width: 300px;
    height: 600px;
    background-color: transparent;
}



@media screen and (max-width: 1000px) {
    .logo > img{
        width: 0px;
        height: 0px;
    }

    .contacto h3{
        font-size: 10px;
    }

    .contacto h1{
        font-size: 20px;
    }

    .contacto{
        width: 25%;
        justify-content: center;
        align-items: center;
    }

    .items{
        display: flex;
        justify-content: center;
    }

    .items a{
        font-size: 15px;
        text-decoration: solid;
        text-transform: uppercase;
        margin-left: 30px;
        font-family: monospace;
    }
    
    .items > ul{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
    }


}

@media screen and (max-width: 600px) {
    .contacto h1{
        font-size: 0px;
    }
    .contacto h3{
        font-size: 0px;
    }
    .contacto{
        width: 0px;
        height: 0px;
    }

    .nombre{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
    }

    .nombre h1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nombre h3{
        font-size: 15px;
        margin: 0px;
    }

    .header{
        justify-content: center;
        align-items: center;
    }

    .imagen-derecha{
        width: 0px;
        height: 0px;
    }

    .imagen-derecha >img{
        width: 0px;
        height: 0px;
    }

    .imagen-izquierda >img{
        width: 0px;
        height: 0px;
    }

    .items{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .items a{
        font-size: 15px;
        text-decoration: solid;
        text-transform: uppercase;
        margin-left: 30px;
        font-family: monospace;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .items > ul{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .texto-cuerpo1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        background-color: transparent;
    }

    .texto-cuerpo1 > h1{
        background-color: transparent;
        font-family: monospace;
        font-size: 3rem;
        color: lightcyan;
        text-decoration-line: none;
    }

    .texto-cuerpo2 .texto1{
        font-weight: bold;
        color: black;
        font-style: normal;
        background-color: transparent;
        font-size: 1rem;
        font-family: monospace;
        color: white;
    }

}

@media screen and (max-width: 515px) {
    .contacto h1{
        font-size: 0px;
    }
    .contacto h3{
        font-size: 0px;
    }
    .contacto{
        width: 0px;
        height: 0px;
    }

    .nombre{
        width: 100%;
        margin: 0;
    }

    .nombre h3{
        font-size: 10px;
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nombre h1{
        font-size: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .header{
        justify-content: center;
        align-items: center;
    }


    
}